*{
    margin: 0;
    padding :0;
    box-sizing:border-box;
}

header {
        background-color: orangered;
        color: white;
        padding : 10px 0;
        position : fixed;
        width : 100%;
        height : 60px;
        z-index : 1;
}

main {
    padding-top: 8%;
}

.container {
            max-width:1400px;
            margin : 0 auto;
            display : flex;
            flex-wrap: wrap;
            gap : 5px;
}

/* suddivisione delle colonne */
.colonna-33 {
            width: 33%;
}

/* allineamento verso il centro del contenitore */
.justify-content-center {
                         justify-content: center;
}


.card {
       width : 100%;
       position : relative;
}

.card-immagini {
                max-width:100%;
}

.etichetta {
            padding : 5px 10px;
            color : white;
            position : absolute;
            bottom: 50px;
            left : 0px;
            
}

.etichetta-rossa {
                  background-color: red;
}

.etichetta-verde {
                  background-color: green;
}

.overlay {
          width : 100%;
          height : 100%;
          background-color: rgba(0,0,0,0.5);
          position : absolute;
          top : 0;
          color: white;
          font-size : 30px;
          opacity : 0;
}

.card:hover .overlay {
                      opacity : 1;
}

.card:hover .fronte {
                     display : none;
}

.card:hover .retro {
    display : block;
}

.fronte {
         display: block;
}

.retro {
    display: none;
}



