* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: orange;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

main {
    padding: 150px 0;
}

footer {
    background-color: black;
    padding: 25px 0;
}


.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    row-gap: 20px;
}


.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}


a {
    text-decoration: none;
}


.col-33 {
    width: 33%;
}

.col-50 {
    width: 50%;
}


.content-header,
.content,
.card {
    padding: 5px;
}

.content-header ul,
footer ul {
    list-style-type: none;
}

.content-header ul li,
footer ul li {
    display: inline-block;
    margin-right: 5px;
    color: white;
}

.content-header ul li a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.content-header ul li i {
    color: white;
}


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}



.logo {
    width: 150px;
}


.img-fluid {
    max-width: 100%;
}

.front-image {
    /* VALORE DI DEFAULT */
    display: inline-block;
}

.back-image {
    display: none;
}

.card:hover .front-image {
    display: none;
}

.card:hover .back-image {
    display: inline-block;
}

.card-image {
    position: relative;
}

.labels {
    display: flex;
    position: absolute;
    bottom: 100px;
    left: 0;
}


.label {
    padding: 5px 25px;
    color: white;
    margin-right: 5px;
}

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}

.favourite {
    background-color: white;
    font-size: 30px;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 0px;
}


.brand {
    font-size: 14px;
}

h3 {
    text-transform: uppercase;
    margin: 5px 0;
}

h4,
h5 {
    color: white;
}

.price {
    color: red;
}

.card-text {
    color: black;
}